parameters:
	ignoreErrors:
		-
			message: '#^Method App\\Http\\Requests\\IThinkItIsAVeryBadIdeaToCreateThisCustomRegisterRequest\:\:passwordRules\(\) should return array\<int, array\<mixed\>\|Illuminate\\Contracts\\Validation\\ValidationRule\|string\> but returns array\<int, Illuminate\\Validation\\Rules\\Password\|string\>\.$#'
			identifier: return.type
			count: 1
			path: app/Http/Requests/IThinkItIsAVeryBadIdeaToCreateThisCustomRegisterRequest.php
